<% @favorites.each do |favorite| %>
<% if favorite.feed_id.to_s() == params[:feed_id] %>
<div><strong>Tweet: </strong><%= favorite.text %></p>
<div><strong>Name: </strong><%= favorite.name %> (<%= favorite.screen_name %>)</p>
<div><strong>Tweet Date: </strong><%= favorite.twitter_created_at %></p>
<% if !favorite.latitude.blank? %>
</div>
<div><a href="http://maps.google.com/maps?q=<%= favorite.latitude %>+<%= favorite.longitude %>">Location on Google Map</a></p>
<% end %>
<p class = "link_banner"><%= link_to 'Show / Add Note', favorite %> - <%= link_to 'Destroy', favorite, :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>
<% end %>
