<h1>Fetched Favorites</h1>
<p><%= link_to 'Fetch Favorites', fetch_path %> - <%= link_to 'Followed Feeds', feeds_path %></p>
<p><strong>Download CSV files: </strong><% @feeds.each do |feed| %>
<a href="<%= feed.id %>.csv"><%= feed.id %>.csv</a>
<% end %>
</p>
<% @feeds.each do |@sourcefeed| %>
<script type="text/javascript">
$(document).ready(function(){
  $("h2#title_<%= @sourcefeed.id %>").click(function(){
    $("div#favorites_<%= @sourcefeed.id %>").load('http://128.29.90.31:3000/feedfavorites/<%= @sourcefeed.id %>');
  });
});
</script>
<h2 class="sourcefeed_title" id="title_<%= @sourcefeed.id %>"><%= @sourcefeed.url %></h2>
<div class="favorites" id="favorites_<%= @sourcefeed.id %>">
</div>
<% end %>

