<h1>Fetched Favorites</h1>
<p><%= link_to 'Fetch Favorites', fetch_path %> - <%= link_to 'Followed Feeds', feeds_path %></p>
<p><strong>Download CSV files: </strong><% @feeds.each do |feed| %>
<a href="<%= feed.id %>.csv"><%= feed.id %>.csv</a>
<% end %>
</p>
<hr> 
<% @favorites.each do |favorite| %>
<p><strong>Tweet: </strong><%= favorite.text %></p>
<p><strong>Name: </strong><%= favorite.name %> (<%= favorite.screen_name %>)</p>
<p><strong>Tweet Date: </strong><%= favorite.twitter_created_at %></p>
<p><strong>Source URL: </strong><%= favorite.source_url %></p>
<p><%= link_to 'Show / Add Note', favorite %> - <%= link_to 'Destroy', favorite, :confirm => 'Are you sure?', :method => :delete %></p>
<hr>
<% end %>

