<!DOCTYPE html>
<html>
<head>
  <title>FetchFavorites</title>
  <%= stylesheet_link_tag :all %>
<<<<<<< HEAD
  <%= javascript_include_tag :all %>
=======
  <%= javascript_include_tag :defaults %>
>>>>>>> 2d8cb9bca285c6a6f742c168bbbd0545254df015
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<%= yield %>

</div>
</body>
</html>
